---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Let's work together!
				</h2>
				<p class="text-xl text-gray-600 dark:text-slate-400 mb-4">
					We are always looking for new projects to work on. If you have a project that you would like to discuss,
					please get in touch. We are always happy to help.
				</p>

				<div class="max-w-3xl mx-auto">
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white border border-primary-600 bg-primary-600 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 w-full"
								href="/contact"
							>
								Contact Us
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								href="/projects">Previous Projects</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
