---
import { Icon } from 'astro-icon';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 overflow-hidden">
		<div class="py-12 md:py-20">
			<div class="py-4 sm:py-6 lg:py-8">
				<div class="flex flex-wrap md:-mx-8">
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
							<h2 class="mb-4 text-3xl lg:text-4xl font-bold font-heading">Our Development Process</h2>

							<p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
								Our development process is designed to be as efficient and effective as possible, while also providing a
								great experience for both developers and designers. We start by having our developers create a prototype
								of the project, which the designers then use to refine and improve the visual aspects. Once the design
								is approved, the developers implement the code and the project is ready for launch. This process ensures
								that both developers and designers are able to work together efficiently to create a high-quality
								product.
							</p>

							<div class="w-full">
								<a
									class="btn text-white bg-primary-600 hover:bg-primary-800 mb-4 sm:mb-0"
									href="https://github.com/onwidget/astrowind"
									target="_blank"
									rel="noopener"
								>
									<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Get template
								</a>
							</div>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-0 sm:px-8">
						<ul class="space-y-12">
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										1</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Design</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Designing is the first step in the development process. We design the project with functional
										prototypes and wireframes.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										2</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Develop</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Develop is the most important step in the development process. We develop the project with
										technologies that are suitable for the project to the best standards.
									</p>
								</div>
							</li>
							<li class="flex md:-mx-4">
								<div class="pr-4 sm:pl-4">
									<span
										class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold rounded-full bg-primary-50 text-primary-600"
									>
										3</span
									>
								</div>
								<div class="px-4">
									<h3 class="mb-4 text-xl font-semibold font-heading">Deploy</h3>
									<p class="text-gray-500 dark:text-gray-400">
										Deployment is the last step in the development process. We deploy the project to the server or
										release your project to its users.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
