<div class="planets">
	<div class="planet1"></div>
</div>

<style>
	.planets {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.planet1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('~/assets/images/pages/home/moon.webp') no-repeat center center;
		background-size: cover;
		opacity: 0.4;
		z-index: -1;
	}
</style>
