---
import Main from '../components/Main.astro'
import HeadConfig from '../components/HeadConfig.astro'
---
<html lang="en">
<HeadConfig page_title="404" page_description="404 Not Found Error" />
<Main>
	<section class="body-font h-screen content-center text-center justify-center flex">
		<div class="m-auto">
			<h1 class="text-6xl font-bold font-weight-1000 text-blue-500">404 NOT FOUND</h1>
			<p class="p-5">THIS PAGE DOESN'T EXIST OR YOU DON'T HAVE ACCESS TO IT!</p>
			<a href="/" class="p-5">&#9656; RETURN TO HOME &#9666;</a>
		</div>
	</section>
</Main>
</html>
