---
import Main from '../components/Main.astro'
import HeadConfig from '../components/HeadConfig.astro'
---
<html lang="en">
<HeadConfig page_title="About" page_description="About me, my skills and previous experiences in fields of designing and developing." />
<Main>
	<section class="body-font h-screen content-center text-center justify-center flex">
		<div class="m-auto">
			<h1 class="text-8xl font-bold font-weight-1000 text-[#ff5d01]">ABOUT</h1>
		</div>
	</section>
</Main>
</html>
