---
import BaseHead from '../components/BaseHead.astro';
import Space from '../components/Space.astro';
import Main from '../components/Main.astro';
import Article from '../components/Article.astro';
import MainHeader from '../components/MainHeader.astro';
import Sponsors from '../components/Sponsors.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import "../components/YouTube.css";
import "../styles/output.css";

let title = 'Contact | MostlyWhat';
let description = "Contact MostlyWhat though multiple ways.";
let permalink = '/contact/';
let lang = 'en';
---

<html lang={ lang ?? 'en' }>
  <head>
    <BaseHead title={title} description={description} canonicalURL={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../scss/global.scss')} />
    <link rel="stylesheet" href={Astro.resolve('../styles/output.css')}>
  </head>

  <body>
    <Space />

    <Main>
      <MainHeader />
      <Article>
        <br>
        <h1 class="font-bold text-2xl">Contacting MostlyWhat!</h1>
        <p>
          Please fill the the form to send me the message or email me in the addresses below. I will respond usually within 1-2 days.
        </p>
        <br>
        <form action="https://formsubmit.co/mostlywhat@astronavix.cf" method="POST">
          <input type="hidden" name="_next" value="https://www.mostlywhat.cf/success">
          <input type="hidden" name="_captcha" value="true">
          <input type="hidden" name="_subject" value="New Message!">
          <div class="mb-6">
            <label class="block mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Email Address</label>
            <input id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@example.com" required>
          </div>
          <div class="mb-6">
            <label class="block mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Message</label>
            <textarea id="content" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" rows="3" placeholder="Hello! MostlyWhat, ..." required></textarea>
          </div>
          <button type="submit" class="full-expand text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit Message</button>
        </form>
        <br>
        <br>
        <h1 class="font-bold text-2xl">Other Ways to Contact!</h1>
        <br>
        <p>
        <b>Discord DM:</b> MostlyWhat™#2453
        </p>
        <div>
          <a class="action-button full-expand" href="https://www.instagram.com/mostly.what/">
            Official Instagram
            <span style="float: right;">&#8594;</span>
          </a>
          <br>
          <a class="action-button full-expand" href="https://twitter.com/mostlywhat">
            Official Twitter
            <span style="float: right;">&#8594;</span>
          </a>
          <br>
          <a class="action-button full-expand" href="https://discord.gg/THmTE3Y9ag">
            Join Discord Server
            <span style="float: right;">&#8594;</span>
          </a>
          <br>
        </div>
      </Article>
      <Sponsors />
    </Main>

    <style lang="scss">
      .full-expand {
          width:100%;
          padding:20px;
      }
      .hint {
        font-size: 13px;
        opacity: 0.8;
        margin-top: 2em;
        padding: 2em 0;
      }
      .hint > p:first-child {
        margin-bottom: 2em;
      }
      .action-button {
        border: 1px solid var(--color-green);
        padding: 1rem;
        font-weight: 600;
      }
      code {
        font-size: 11px;
        font-family: var(--font-mono);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 2px;
        padding: 0.1em 0.2em;
      }
      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        background:rgba(255, 255, 255, 0.1);
        margin-bottom: 1rem;
      }
      .videoWrapper > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <GoogleAnalytics />
  </body>
</html>
