---
import Main from '../components/Main.astro'
import HeadConfig from '../components/HeadConfig.astro'
import FullSection from '../components/FullSection.astro'
---
<html lang="en">
<HeadConfig page_title="Privacy Policy" page_description="MostlyWhat's Privacy Policy and Usage of the Website" />
<Main>
	<FullSection>
		<h1 class="text-8xl font-bold font-weight-1000 text-red-500">PRIVACY POLICY</h1>
	</FullSection>
	<div class="p-4 pl-40 pr-40">
		<h2 class="text-2xl">Information</h2>
		<br>
		<p>
			At MostlyWhat, accessible from www.mostlywhat.cf, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by MostlyWhat Systems and how we use it.
		</p>
		<br>
		<p>
			If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us at admin@mostlywhat.cf.
		</p>
		<br>
		<p>
			This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in MostlyWhat. This policy is not applicable to any information collected offline or via channels other than this website.
		</p>
		<br>
		<h2 class="text-2xl">Consent</h2>
		<br>
		<p>
			By using our website, you hereby consent to our Privacy Policy and agree to its terms.
		</p>
		<br>
		<h2 class="text-2xl">Information Collected</h2>
		<br>
		<p>
			The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
		</p>
		<br>
		<p>
			If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
		</p>
		<br>
		<p>
			When you use the contact forms, we may ask for your contact information, including items such as name, company name, email address, and telephone number.
		</p>
		<br>
		<h2 class="text-2xl">Usage of Information</h2>
		<br>
		<p>
			MostlyWhat Systems uses the information we collect in various ways, including to:
		</p>
		<br>
		<ul class="list-disc">
			<li>Develop new products, services, features, and functionality.</li>
			<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website.</li>
			<li>Send you emails for important vulnerabilty updates on products we have deployed or released.</li>
			<li>Find and prevent fraud.</li>
		</ul>
		<br>
		<h2 class="text-2xl">Security</h2>
		<br>
		<p>
			We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we use Cloudflare to secure the connect between the user to the website, Vercel to host the website and SendGrid to ensure the information being sent is secure.
		</p>
		<br>
		<h2 class="text-2xl">Links to Other Sites</h2>
		<br>
		<p>
			Our website may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
		</p>
		<br>
		<p>
			We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.
		</p>
		<br>
		<h2 class="text-2xl">Website Hosting & Mail Servers</h2>
		<br>
		<p>
			MostlyWhat Systems is hosted on Vercel, a platform for hosting websites.
		</p>
		<br>
		<p>
			MostlyWhat Systems uses SendGrid to send emails using APIs. SendGrid is a hosted email service that provides the most reliable email delivery.
		</p>
		<br>
		<p>
			Microsoft Outlook is used to send emails from MostlyWhat Systems. Microsoft is not responsible for the security of emails sent through Microsoft Outlook.
		</p>
		<br>
		<h2 class="text-2xl">CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>
		<br>
		<p>
			Under the CCPA, among other rights, California consumers have the right to:
		</p>
		<br>
		<ul class="list-disc">
			<li>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</li>
			<li>Request that a business delete any personal data about the consumer that a business has collected.</li>
			<li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</li>
			<li>Object to a business's use of the personal data.</li>
		</ul>
		<br>
		<p>
			If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
		</p>
		<br>
		<h2 class="text-2xl">GDPR Data Protection Rights</h2>
		<br>
		<p>
			We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
		</p>
		<br>
		<ul class="list-disc">
			<li>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</li>
			<li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</li>
			<li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
			<li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
			<li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
			<li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
		</ul>
		<br>
		<p>
			If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
		</p>
		<br>
		<h2 class="text-2xl">Children's Privacy</h2>
		<br>
		<p>
			Our website does not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13.
		</p>
		<br>
		<p>
			In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
		</p>
		<br>
		<h2 class="text-2xl">Changes to this Privacy Policy</h2>
		<br>
		<p>
			We may update our Privacy Policy from time to time. It is your responsibility to check the new Privacy Policy on this page form time to time.
		</p>
		<br>
		<h2 class="text-2xl">Contact Us</h2>
		<br>
		<p>
			If you have any questions about this Privacy Policy, please contact us at admin@mostlywhat.cf or the contact page at www.mostlywhat.cf/contact.
		</p>
		<br>
		<br>
		<h2 class="text-2xl text-center text-red-500 uppercase font-bold">This document was last updated on 8 April, 2022</h2>
	</div>
</Main>
</html>
