---
import Main from '../components/Main.astro'
import HeadConfig from '../components/HeadConfig.astro'
---
<html lang="en">
<HeadConfig page_title="Projects" page_description="All of my completed and ongoing projects that I have done for both myself and for clients!" />
<Main>
	<section class="body-font h-screen content-center text-center justify-center flex">
		<div class="m-auto">
			<h1 class="text-8xl font-bold font-weight-1000 text-blue-500">PROJECTS</h1>
		</div>
	</section>
</Main>
</html>
