---
import Main from '../components/Main.astro'
import HeadConfig from '../components/HeadConfig.astro'
import FullSection from '../components/FullSection.astro'
---
<html lang="en">
<HeadConfig page_title="Template" page_description="Redirecting to another website" />
<Main>
	<FullSection>
		<div class="flex flex-row content-center">
			<h1 class="text-4xl font-bold font-weight-1000 text-blue-500 uppercase">LEAVING WEBSITE TO&nbsp;</h1>
			<p id="website" class="text-4xl font-bold font-weight-1000 text-blue-500 uppercase"></p>
		</div>
		<br>
		<p>This website is not a part of MostlyWhat Systems. Please be very careful exploring out there!</p>
		<br>
		<div class="flex flex-row content-center align-middle">
			<a id="website_button" class="border-0 py-2 px-6 focus:outline-none text-lg w-full uppercase text-center">LEAVE MOSTLYWHAT</a>
			<a href="/privacy-policy" class="border-0 py-2 px-6 focus:outline-none text-lg w-full text-center">READ PRIVACY POLICY</a>
			<a href="/" class="border-0 py-2 px-6 focus:outline-none text-lg w-full text-center">BACK TO SAFETY</a>
		</div>
	</FullSection>
	<script>
		var url_string = window.location.href; //window.location.href
		var url = new URL(url_string);
		var c = url.searchParams.get("url");
		document.getElementById("website").innerHTML = c;
		document.getElementById("website_button").href = "https://" + c;
	</script>
</Main>
</html>