---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
	<Hero>
		<Fragment slot="title">
			<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
				<span class="text-accent-green">Search</span>
			</h1>
		</Fragment>

		<Fragment slot="subtitle">
			Search for anything on the website. You can search for a blog post, a project, a page or a person.

			<div class="mx-auto px-6 sm:px-6 max-w-3xl content-center grid grid-row items-center mb-10">
				<!-- A styled text box for searching the site and list the results from pagefind -->
				<input
					id="search"
					type="text"
					placeholder="Search..."
					class="px-12 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-accent-green focus:border-transparent"
				/>
			</div>
		</Fragment>
	</Hero>

	<div id="search_result" class="mx-auto px-6 sm:px-6 max-w-3xl content-center grid grid-row items-center mb-10">
		<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading p-4">
			<span class="text-accent-green">Search Results</span>
		</h1>

		<div id="results">
			<!-- The search results will be added here -->
		</div>
	</div>

	<script is:inline>
		document.querySelector('#search')?.addEventListener('input', async (e) => {
			// only load the pagefind script once
			if (e.target.dataset.loaded !== 'true') {
				e.target.dataset.loaded = 'true';
				// load the pagefind script
				window.pagefind = await import('/pagefind/pagefind.js');
			}

			// search the index using the input value
			const search = await window.pagefind.search(e.target.value);

			// clear the old results
			document.querySelector('#results').innerHTML = '';

			const searchQuery = document.querySelector('#search').value.trim(); // Get the value of the search box and trim whitespace

			document.querySelector('#search_result').style.display = searchQuery ? 'block' : 'none'; // Show or hide the search_result element based on the searchQuery value

			const displayedURLs = [];

			if (searchQuery && search.results.length === 0) {
				document.querySelector('#results').innerHTML = 'Not Found'; // Display "Not found" message if there are no results and the search box is not empty
			} else {
				for (const result of search.results) {
					const data = await result.data();
					const url = data.url;

					// Check if the URL has already been displayed
					if (displayedURLs.includes(url)) {
						continue; // Skip this result
					}

					displayedURLs.push(url); // Add the URL to the displayedURLs array

					document.querySelector('#results').innerHTML += `
						<div class="p-4">
							<a href="${data.url}" class="btn-quaternary p-6">
								<h3 class="text-3xl pb-2">${data.meta.title}</h3>
								<p>${data.excerpt}</p>
							</a>
						</div>`;
				}
			}
		});
	</script>
</Layout>
