---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
	<Hero>
		<Fragment slot="title">
			<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
				<span class="text-accent-green">Search</span>
			</h1>
		</Fragment>

		<Fragment slot="subtitle">
			Search for anything on the website. You can search for a blog post, a project, a page or a person.
		</Fragment>
	</Hero>
	<!-- A styled text box for searching the site and list the results from pagefind -->
	<input id="search" type="text" placeholder="Search..." />

	<div id="results"></div>

	<script is:inline>
		document.querySelector('#search')?.addEventListener('input', async (e) => {
			// only load the pagefind script once
			if (e.target.dataset.loaded !== 'true') {
				e.target.dataset.loaded = 'true';
				// load the pagefind script
				window.pagefind = await import('/pagefind/pagefind.js');
			}

			// search the index using the input value
			const search = await window.pagefind.search(e.target.value);

			// clear the old results
			document.querySelector('#results').innerHTML = '';

			// add the new results
			for (const result of search.results) {
				const data = await result.data();
				document.querySelector('#results').innerHTML += `
                    <a href="${data.url}">
                    <h3>${data.meta.title}</h3>
                    <p>${data.excerpt}</p>
                    </a>`;
			}
		});
	</script>
</Layout>
