---
import Space from '../components/Space.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

let page_title = 'Submitted Form';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{page_title} | MostlyWhat</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global lang="scss">
			@import "../styles/global.scss";
	</style>
</head>
<body>
	<Space />
    <Header />
	<section class="body-font h-screen content-center text-center justify-center flex">
		<div class="m-auto">
			<h1 class="text-6xl font-bold font-weight-1000 text-blue-500">LOUD & CLEAR</h1>
			<p class="p-5">THANKS FOR THE MESSAGE, I WILL RESPOND WITHIN 1-3 DAYS.</p>
			<a href="/" class="p-5">&#9656; RETURN TO HOME &#9666;</a>
		</div>
	</section>
	<Footer />
	<script src="../../node_modules/flowbite/dist/flowbite.js"></script>
</body>
</html>
