---
import Space from '../components/Space.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

let page_title = 'Template';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{page_title} | MostlyWhat</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global lang="scss">
			@import "../styles/global.scss";
	</style>
</head>
<body>
	<Space />
    <Header />
		<!--Code Goes Here-->
	<Footer />
	<script src="../../node_modules/flowbite/dist/flowbite.js"></script>
</body>
</html>
