---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
	<Hero>
		<Fragment slot="title">
			<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
				<span class="text-accent-red">Design.</span>
				<span class="text-accent-yellow">Develop.</span>
				<span class="text-accent-blue">Deploy.</span>
			</h1>
		</Fragment>

		<Fragment slot="subtitle">This is a template page! Change everything, or just the parts you want to.</Fragment>
	</Hero>
</Layout>
