---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<!--Page Content about experiemental features -->

	<h1>Experimental Features</h1>
	<p>Here you can find information about experimental features that are currently in development.</p>
	<p>These features are not yet ready for production use, but you can try them out and provide feedback.</p>
	<p>
		For more information about experimental features, see <a href="https://astro.build/guides/experimental"
			>the Astro documentation</a
		>.
	</p>
</Layout>
