---
interface Props {
    url: string
    title: string
}
const { url, title } = Astro.props
---
<a class="action-button not-prose" href={url}>
    &leftarrow; {title}
</a>
<style>
a {
    display: block;
    margin-top: 2rem;
}
.action-button {
    border: 1px solid var(--color-green);
    padding: 1rem;
    font-weight: 600;
}
</style>