---
const CURRENT_YEAR = new Date().getFullYear();
---

<footer class="body-font">
  <div class="px-5 py-10 flex items-center sm:flex-row flex-col text-center justify-center">
    <h4>© COPYRIGHT 2018 - {CURRENT_YEAR} | MOSTLYWHAT SYSTEMS - ALL RIGHTS RESERVED</h4>
  </div>
</footer>