<header class="fixed z-50 body-font inset-x-0 pt-5">
    <div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center justify-center bg-black rounded-md">
        <a href="/" class="p-4 rounded flex font-bold text-3xl" style="text-decoration: none">MOSTLYWHAT</a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center pr-2">
            <a href="/about" class="p-4 rounded flex" style="text-decoration: none">ABOUT</a>
            <a href="/projects" class="p-4 rounded flex" style="text-decoration: none">PROJECTS</a>
            <a href="/blog" class="p-4 rounded flex" style="text-decoration: none">BLOG</a>
            <a href="/contact" class="p-4 rounded flex" style="text-decoration: none">CONTACT</a>
        </nav>
    </div>
</header>