---
import Space from '../components/Space.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<body>
    <main>
        <Space />
        <Header />
        <slot />
        <Footer />
    </main>
</body>