<main class="relative">
    <slot></slot>
</main>

<style lang="scss">
    main {
        z-index: 1;
        width: 100%;
        margin: 0;
        padding: 0 0.75rem;
    }

    a {
        position: relative;
        text-decoration: none;
        color: var(--color-accent);
        padding: 0.05em 0.125em;
        margin: -0.05em -0.125em;
        transition: color 120ms cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 0;
        display: inline-block;

        &:hover,
        &:focus {
            color: rgba(0, 0, 0, 1);

            &::before {
            transform: scaleY(1);
            background: var(--color-accent);
            }
        }

        &:visited {
            color: var(--color-accent);
            &:hover,
            &:focus {
            color: rgba(0, 0, 0, 1);
            }
        }

        &::before {
            transform-origin: bottom center;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            inset: 0;
            background: var(--color-accent);
            pointer-events: none;
            transform: scaleY(0.05);
            transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1), background 120ms cubic-bezier(0.23, 1, 0.32, 1);
            z-index: -1;
        }
        }

        a + a {
        margin-left: 2px;
        }
</style>