---
import Space from '../components/Space.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<body>
    <main>
        <Space />
        <Header />
        <slot />
        <Footer />
        <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
    </main>
</body>