<style lang="scss">
.wrapper {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.list {
  text-align: center;

  a {
    vertical-align: middle;
    margin-left: 0.75em;
    margin-right: 0.75em;

    &::before,
    &::after {
      display: none;
    }
  }
}

.title {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.oc {
  margin-top: 1.5rem;
  font-size: 0.75em;
  text-align: center;
}
</style>

<div class="wrapper">
  <h2 class="title text-center">© Copyright 2018-2022 MostlyWhat</h2>
</div>
