---
---

<div
	class="hidden md:block bg-blue-900 dark:bg-slate-800 dark:border-slate-800 dark:text-slate-400 border-b border-blue-900 text-sm px-3 py-2 text-gray-200 overflow-hidden whitespace-nowrap text-ellipsis"
>
	<span class="text-xs py-0.5 px-2 bg-primary dark:bg-secondary-500 text-black font-semibold">WARNING</span>
	<a href="https://astro.build/blog/astro-2/" class="hover:underline text-gray-200 dark:text-slate-400 pl-2"
		>Website is under heavy development right now!</a
	>
	<a
		target="_blank"
		rel="noopener"
		class="float-right"
		title="Follow Website Development on GitHub"
		href="https://github.com/mostlywhat/website"
	>
		<img
			src="https://img.shields.io/github/last-commit/mostlywhat/website.svg?style=for-the-badge&label=Last Updated on GitHub&logo=github"
			width="240"
			height="60"
		/>
	</a>
</div>
