@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	text-decoration: none;
	color: theme('colors.accent.yellow');
	padding: 20px 40px 20px 40px;
	margin: -0.05em -0.125em;
	transition: color 120ms cubic-bezier(0.23, 1, 0.32, 1);
	z-index: 0;
	display: inline-block;

	&:hover,
	&:focus {
		color: rgba(0, 0, 0, 1);

		&::before {
			transform: scaleY(1);
			background: theme('colors.accent.yellow');
		}
	}

	&:visited {
		color: theme('colors.accent.yellow');

		&:hover,
		&:focus {
			color: rgba(0, 0, 0, 1);
		}
	}

	&::before {
		transform-origin: bottom center;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		inset: 0;
		background: theme('colors.accent.yellow');
		pointer-events: none;
		transform: scaleY(0.05);
		transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1), background 120ms cubic-bezier(0.23, 1, 0.32, 1);
		z-index: -1;
	}
}

.btn-secondary {
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	text-decoration: none;
	color: theme('colors.accent.blue');
	padding: 20px 40px 20px 40px;
	margin: -0.05em -0.125em;
	transition: color 120ms cubic-bezier(0.23, 1, 0.32, 1);
	z-index: 0;
	display: inline-block;

	&:hover,
	&:focus {
		color: rgba(0, 0, 0, 1);

		&::before {
			transform: scaleY(1);
			background: theme('colors.accent.blue');
		}
	}

	&:visited {
		color: theme('colors.accent.blue');

		&:hover,
		&:focus {
			color: rgba(0, 0, 0, 1);
		}
	}

	&::before {
		transform-origin: bottom center;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		inset: 0;
		background: theme('colors.accent.blue');
		pointer-events: none;
		transform: scaleY(0.05);
		transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1), background 120ms cubic-bezier(0.23, 1, 0.32, 1);
		z-index: -1;
	}
}

.underline-highlight {
	@apply  px-6 py-2 text-white font-medium hover:decoration-accent-yellow hover:decoration-4 hover:underline hover:underline-offset-4 transition duration-500 ease-in-out;
}

a + a {
	margin-left: 2px;
}
