@font-face {
    font-family: 'Industry';
    src: local('Industry Light'), local('Industry-Light'),
        url('~/assets/fonts/Industry/Industry-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Bold'), local('Industry-Bold'),
        url('~/assets/fonts/Industry/Industry-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Bold Italic'), local('Industry-BoldItalic'),
        url('~/assets/fonts/Industry/Industry-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Light Italic'), local('Industry-LightItalic'),
        url('~/assets/fonts/Industry/Industry-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Industry-Book';
    src: local('Industry Book'), local('Industry-Book'),
        url('~/assets/fonts/Industry/Industry-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Black Italic'), local('Industry-BlackItalic'),
        url('~/assets/fonts/Industry/Industry-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Industry-BookItalic';
    src: local('~/assets/fonts/Industry/Industry Book Italic'), local('Industry-BookItalic'),
        url('~/assets/fonts/Industry/Industry-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Industry';
    src: local('/Industry Demi Italic'), local('Industry-DemiItalic'),
        url('~/assets/fonts/Industry/Industry-DemiItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Black'), local('Industry-Black'),
        url('~/assets/fonts/Industry/Industry-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Medium'), local('Industry-Medium'),
        url('~/assets/fonts/Industry/Industry-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Medium Italic'), local('Industry-MediumItalic'),
        url('~/assets/fonts/Industry/Industry-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Industry';
    src: local('Industry Demi'), local('Industry-Demi'),
        url('~/assets/fonts/Industry/Industry-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}