---
import '~/assets/styles/base.scss';

// Import DM fonts from Fontsource
import '@fontsource/dm-sans';
import '@fontsource/dm-mono';

// Import Astro components
import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import Background from '~/components/core/backgrounds/Space.astro';

// The code is importing two objects, `MetaSEO` and `SITE`, from two different files.
import { MetaSEO } from '~/types';
import { SITE } from '~/config.mjs';

export interface Props {
	meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const { language = 'en', textDirection = 'ltr' } = SITE;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="motion-safe:scroll-smooth font-light 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
		<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css" />
	</head>

	<body class="antialiased text-page text-slate-300 bg-background tracking-tight">
		<Background />
		<slot />
		<BasicScripts />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
		<script></script>
	</body>
</html>
