---
import '~/assets/styles/base.scss';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';
import Space from '~/components/backgrounds/Space.astro';
// import HeaderScripts from '~/components/core/HeaderScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth font-light 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
		<script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css" />
	</head>
	<body class="antialiased text-slate-300 tracking-tight bg-background scroll-pt-1">
		<Space />
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
